#header {
	background-image: url('../stack/dist/images/2016-Header-Image-Web.jpg');
}

.site-name:after {
  background: rgba(83, 210, 150, 0.62);
}

.huge-action-buttons .primary,
.button--call-to-action {
	background: #53d292;
	border: none;
	color: white;
}
.huge-action-buttons .primary:hover,
.button--call-to-action:hover {
	background: #31b472;
	color: #00335b;
}

.huge-action-buttons .secondary {
	color: white;
}

.site-name__name span {
	color: #0a5b8b;
}
.site-name__name a:hover {
	color: inherit;
}

.button--call-to-action, input#edit-submit--2, input#edit-submit {
	background-color: #53d292;
	border: none;
}
.button--call-to-action:hover,
input#edit-submit--2:hover,
input#edit-submit:hover {
	background: #31b472;
	border: none;
}

.button--call-to-action:after, input#edit-submit--2:after, input#edit-submit:after {
	border-left-color: #0a5b8b;
}

.button:hover, .button--highlight:hover, .announcement__titlegroup:hover, .node-news.node-teaser h2 a:hover, a:hover {
	color: #53d292;
}

.view-speakers .views-row {
	margin-bottom: 40px;
	text-align: center;
	width: 90%;
}

.view-speakers .views-field-picture img {
	/*border: 10px solid #0A5B8B;*/
	border-radius: 50%;
	display: inline-block;
	padding: 10px
}

.view-speakers .views-field-picture {
	background: #0a5b8b;
	background: -moz-linear-gradient(left, #0a5b8b 0%, #207cca 50%, #38a58f 50%);
	background: -webkit-linear-gradient(left, #0a5b8b 0%,#207cca 50%, #38a58f 50%);
	background: linear-gradient(to right, #0a5b8b 0%,#207cca 50%,#38a58f 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a5b8b', endColorstr='#38a58f',GradientType=1 ); 
	content: :' ';
	display: block;
}

.view-speakers .views-row .views-field-picture {
	border-radius: 50%;
}


@media (min-width: 50em) {
	#main-prefix.child-elements-3 .block:nth-of-type(2) {
		background: rgba(83, 210, 146, 0.63);
	}

	/* SPEAKERS */

	.view-speakers .views-row .views-field-picture {
		width: 50%;
	}

	.view-speakers .views-row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		text-align: left;
		width: 48%;
	}

	.view-speakers .views-field-nothing {
		padding-left: 3%;
	}
}

#main-prefix,
#menu .menu-block-wrapper {
	background-color: #0a5b8b;
}

#menu .menu-block-wrapper li a {
	background-color: #0a5b8b;
}

#menu .menu-block-wrapper li.hover > a {
	background: #00335b;
	color: #53d292;
}

/* SPEAKERS */

.view-speakers .view-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (min-width: 35em) {
	#menu .menu-block-wrapper ul li ul li a {
		background: #00335b;
	}

	.view-speakers .view-content {
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
	}
}

#main .button--highlight,
#main .announcement__titlegroup,
#main .node-news.node-teaser h2 a {
	color: #00335b;
}

#footer {
	background-color: #0a5b8b;
}

.view-schedule .schedule__group {
	padding: 1em;
	border: 3px dotted gray;
}
.view-schedule .schedule__item {
	background: #00335b;
}
.view-schedule .schedule__item .title {
	color: #53d292;
}
.view-schedule .schedule__item .event-name a:hover {
	color: #53d292;
}