.node-news {
  .field-name-field-news-image {
    text-align: center;
    @include breakpoint(40em) {
      float: left;
      margin: 1em;
      margin-bottom: .5em;
    }

    img {
      border: 2px solid #F0F0F0;
    }
  }

  &.node-teaser {
    h2 {
      @extend .pathway-gothic;
      margin: 0;

      a {
        @extend .button;
        color: white;
        text-decoration: none;
        border-left: 5px solid white;
        font-size: 28px;
        line-height: 100%;
        padding-left: .5em;
      }
    }
  }
}


